<div class="bigDiv">
    {{#if productShow}}

    {{#each productShow}}
    <div class="container-product">

        <a href="/products/productDecs/{{this.id}}">
            <img src="/images/{{this.productPic}}" alt="{{this.productName}}" width="200" height="200">
        </a>


        <div class="productInfor">
            <p>
                <span class="bold"> Name:</span> {{this.productName}}
            </p>

            <p>
                <span class="bold"> Quantity: </span>{{this.productQuantity}}
            </p>

            <p>
                <span class="bold">Detail:</span> {{this.productDetail}}
            </p>

            <p>
                <span class="bold">Price $:</span> {{this.productPrice}}
            </p>

        </div>

    </div>
    {{/each}}

    <form class="cartform" method="POST" action="/products/profile/shoppingCart">
        <p>
            <span class="totalPrice">Total Price $ (Tax Included): </span>{{totalPrice}}
        </p>


        <br>

        <button class="cartbutton" type="submit"></i>Place The Order</button>

    </form>

    {{else}}
    <h2 class="noItem">There is no product in your Cart</h2>

    {{/if}}
</div>