
<div class="bigDiv">
    {{#if productShow}}
    
    {{#each productShow}}
    <div class="container-product">

       

        <a href="/products/productDecs/{{this.id}}">
        <img src="/images/{{this.productPic}}" alt="{{this.productName}}" width="200" height="200">
        </a>


        <div class="productInfor">
            <p>
                <span class="bold"> Name:</span> {{this.productName}}
            </p>

            <p>
                <span class="bold"> Category: </span>{{this.productCategory}}
            </p>

            <p>
                <span class="bold">Detail:</span> {{this.productDetail}}
            </p>

            <p>
                <span class="bold">Total Price $:</span> {{totalPrice}}
            </p>

        </div>
         <form method="POST" action="/profile/shoppingCart">

            <label for="pquan">Total Price:</label>
            <input type="number" name="totalPrice" id="totalPrice" value='{{totalPrice}}'>
            <br><br>

            <button type="submit"><i class="fa fa-shopping-cart" style="font-size:24px"></i>Place The Order</button>

        </form>

    </div>
    

         {{/each}}

   
    {{else}}
        <h2 class="noItem">There is no product in your Shopping Cart</h2>
            
    {{/if}}
</div>
 