<div class="container-product">

    {{#if this.bestSeller}}
    <img class="bs" src="/images/best.png" alt="bestseller" width="40" height="40">
    {{/if}}

    <img src="/images/{{this.productPic}}" alt="{{this.productName}}" width="200" height="200">


    <div class="productInfor">
        <p>
            <span class="bold"> Name:</span> {{this.productName}}
        </p>

        <p>
            <span class="bold"> Category: </span>{{this.productCategory}}
        </p>

        <p>
            <span class="bold">Detail:</span> {{this.productDetail}}
        </p>

        <p>
            <span class="bold">Price $:</span> {{this.productPrice}}
        </p>
        {{#if productAvailable}}
        <p>
            <span id="in">In Stock</span>
        </p>
        {{else}}
        <p>
            <span id="out">Out Of Stock</span>
        </p>
        {{/if}}
        <form class="desform" method="POST" action="/products/productDecs/{{_id}}">

            <span class="bold">Product Quantity: </span>
            <input type="number" name="pquan" id="pquan" value="1">
            <br><br>

            <button class="desbutton" type="submit"></i>Add to Cart</button>

        </form>


        {{#if message}}
        <p class="err"> {{message}}</p>
        {{/if}}
    </div>

</div>