<div class="container-product">

    {{#if this.bestSeller}}
    <img class="bs" src="/images/best.png" alt="bestseller" width="40" height="40">
    {{/if}}

    <img src="/images/{{this.productPic}}" alt="{{this.productName}}" width="200" height="200">



    <div class="productInfor">
        <p>x
            <span class="bold"> Name:</span> {{this.productName}}
        </p>

        <p>
            <span class="bold"> Category: </span>{{this.productCategory}}
        </p>

        <p>
            <span class="bold">Detail:</span> {{this.productDetail}}
        </p>

        <p>
            <span class="bold">Price $:</span> {{this.productPrice}}
        </p>


        <form method="POST" action="/products/productDecs/{{_id}}">

            <label for="pquan">Product Quantity:</label>
            <input type="number" name="pquan" id="pquan" value="1">
            <br><br>

            <button type="submit"><i class="fa fa-shopping-cart" style="font-size:24px"></i>Add to Cart</button>

        </form>


        {{#if message}}
            <p> {{message}}</p> 
        {{/if}}
    </div>

</div>