
<div class="bigDiv">
    
<div class="dropdown">
         <form action="/products/search" method="POST">
                 
                <input type="text" placeholder="Search.." name="search">
                <button type="submit"><i class="fa fa-search"></i></button>
               
            </form>

        <button class="dropbtn">Catagories</button>
        <div class="dropdown-content">
            {{#each categoriesShow}}
            <a href="/products/{{this.categoryName}}">{{this.categoryName}}</a>
            {{/each}}   
        </div>
          
    </div>
    
    {{#each productShow}}
    <div class="container-product">

        {{#if this.bestSeller}}
        <img class="bs" src="/images/best.png" alt="bestseller" width="40" height="40">
        {{/if}}


        <a href="/products/productDecs/{{this.id}}">
        <img src="/images/{{this.productPic}}" alt="{{this.productName}}" width="200" height="200">
        </a>


        <div class="productInfor">
            <p>
                <span class="bold"> Name:</span> {{this.productName}}
            </p>

            <p>
                <span class="bold"> Category: </span>{{this.productCategory}}
            </p>

            <p>
                <span class="bold">Detail:</span> {{this.productDetail}}
            </p>

            <p>
                <span class="bold">Price $:</span> {{this.productPrice}}
            </p>
        </div>

    </div>
    

    {{/each}}

</div>